html {
  max-width: 1440px;
  margin: auto;
  scroll-behavior: smooth;

  @media (max-width: 1024px) {
      width: 100%;      
    }
/* 
  @media (max-width: 768px) {
    max-width: 768px;
    } */
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 auto;  
}

.container {
  max-width: 100%; 
  @media (max-width: 768px) {
      max-width: 768px;
    }
}

header {
  background-color: #000000;
  max-width: 1440px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px 17px 20px;
  position: relative;  

  @media (max-width: 1024px) {
    padding: 18px 105px 17px 20px;
    }
}

.logo, h1 {
  font-family: "Forum", serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  color: #FFFFFF;
  margin: 0;
  letter-spacing: 0.6px; 
}

 h1:hover {
  color: #BB945F;
  transition: .3s;
 }

h2 {
  font-family: "Forum", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;    
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0 auto;
  text-align: center;
}

h3,h4,h5 {
  margin: 0 auto;
  font-weight: normal;
}

a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
  transition: .3s;
}

a:hover {
  color: #BB945F;
}

ul {
  list-style: none;
  padding-left: 0%;
}

nav {
  margin: -1px 2px 0;
}

.line {
  width: 50px;
  height: 0.5px;
  background-color: #0C0C0E;
  margin: 20px auto 40px;  
}

.header_inner {
  display: flex;
  align-items: center;
  
}

.nav-list {
  display: flex;
  list-style: none;  

  @media (max-width: 1024px) {
      display: none;
    }
}

.nav-list_burger-menu {
  display: none;  
  
  @media (max-width: 1024px) {
  display: none;  /*убрать для адаптива*/
  /* display: flex; */
  flex-direction: column;  
  align-items: center;
  position: absolute;
  top: 85px; /* 85px */
  right: 20px; 
  margin: 0;
  padding: 20px auto;
  overflow-y: auto;
  background-color: #000;
  width: 332px;
  height: 485px;
  z-index: 0;
  }
} 

.burger-menu_item {
  margin: 27px 0 29px 29px;
}

.burger-menu_lines {
  display: none;
  color: #FFF;
  cursor: pointer;
  transition-duration: 0.5s;
  
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 33px;
    right: 20px;
    width: 45px;
    height: 20px;    
  }
  
}

.br-line {
  display: block;
  width: 45px;
  height: 1px;
  background-color: #fff;  
}

.burger-menu_lines span.open:before {
  content: "";
  top: 33px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burger-menu_lines span.open:after {
  content: "";
  bottom: 33px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-link {  
  font-weight: normal;
  color: #FFFFFF;
  font-size: 20px;
  padding-right: 30px;
  
}

.header_ico {  
  cursor: pointer;
  padding: 3px 1px 0 9px;  
}

 .header_ico:hover {
  color: #BB945F; /*не работает*/
 }



/* Welcome */

.welcome {
  width: 100%;    
  @media (max-width: 768px) {
      /* display: flex; */
      overflow: hidden;
      margin: 0;
  }
}

.welcome_container {
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 50%),
      url(./img/welcome.jpg) no-repeat center/cover;
  padding: 220px 0 160px;  
  
  @media (max-width: 768px) {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 50%),
        url(./img/welcome_768.jpg) no-repeat center/cover;
        
  }
}

.welcome_inner {
  background-color: #0C0C0E;
  max-width: 600px;
  max-height: 220px;
  padding: 35px 0;
  margin-right: auto;

  @media (max-width: 1440px) {
    width: 100%;
    margin-right: 0;

  }
}

.welcome_text {
  font-family: "Forum", serif;
  color: #FFFFFF;  
  text-align: center;  
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;  
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}



/* About */

.about {
  width: 100%; /*  1440px */
}

.about_container {  
  background: #FFF;
  text-align: center;
  padding: 20px; /* 20px 40px */
}

.about_container h4 {
  font-family: "Inter", sans-serif;  
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
}

.about_items {
  display: flex;
  justify-content: center;  
  gap: 25px;
  margin-bottom: 35px;

  @media (max-width: 768px) {
      align-items: center;
      justify-content: space-around;
      margin: 0 32px 35px;
    }
}

.car_arr {
  display: none;
  @media (max-width: 768px) {
      display: block;
    }
}

.c-tablet {  
  @media (max-width: 1024px) {
  display: none;
  } 
}


.carousel { 
  width: 450px;
  height: 560px;  
  gap: 20px;
}

.about_carousel {
  display: flex;
  justify-content: center;
}

.carousel_pang-wrapper {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  /* background-color: #f0f0f0; */
  border-radius: 50%;
  cursor: pointer;
}

.c_p-w-tablet {
  display: none;

  @media (max-width: 1024px) {
    display: flex;
  }
}

.carousel_pang-color {
  width: 16px;
  height: 16px;
  background-color: #BB945F;
  border-radius: 50%;
  cursor: pointer;
}

.carousel_pang {
  width: 16px;
  height: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;  
  cursor: pointer;
}

@media (max-width: 640px) {
  body {
    width: 100%;
  }

  .carousel {
    width: 87%;
    height: 78%;
  }
}



/* Favorites */


.favorites {
  width: 100%;
    /*  1440px */
  margin: 0 auto;
}

.favorites_container {
  background: #FFF;  
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 25px 20px 35px;
  overflow: hidden;

  @media (max-width: 640px) {
      display: block;
  }
  
}

.section_title {
  width: inherit;
  text-align: center;
  @media (max-width: 750px) {
      margin: 0 auto;
    }
}

.favorites_seasons {
  margin-right: auto;
  @media (max-width: 750px) {
      width: 100%;
    }
}

.favorites_seasons-h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 35px;
}

.favorites_radio-btn {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  flex-wrap: wrap;
  font-size: 20px;  
  margin-bottom: 35px;
}

.label_radio-wrapper {
  width: 193px;  
}

.label_radio-wrapper:last-child {
  margin-left: 10px;
  @media (max-width: 750px) {
      margin-left: 0;
    }
}

label {
  display: inline-flex;   
  align-items: center;
  overflow: visible;
  padding: 5px;  
  cursor: pointer;  
}

.radio {
  accent-color: #000;
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: -5px;
}

.label_radio:has(.radio:checked) {
  font-weight: bold;
} 

/* input[type="radio"]:checked {
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 50%; 
  background-color: #000;
  border-color: #000;
} */

/* input[class="radio_bold"] {
  display: none;  
} */

/* .custom-radio {
  width: 17px;
  height: 17px;
  border: 2px solid #000;
  border-radius: 50%;
  margin-right: 20px;
  padding: 3px;
  cursor: pointer;
} */


.favorites_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 41px;
  @media (max-width: 1277px) {
    justify-content: center;
  }

    @media (max-width: 640px) {
      display: block;
      gap: 20px;
    }
}

.book_wrapper {
  width: 590px;
  height: 100%; /*height: 554px;*/
  position: relative;
  display: flex;
  
  @media (max-width: 640px) {
      display: block;
      width: 99%;
      margin-bottom: 10px;
    }
}

.book {  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;  
  width: 528px;
  height: 100%;
  border: 1px solid #000;   
  padding-left: 19px;

  @media (max-width: 640px) {
      /* display: block; */
      width: 98%;
    }
}

.book-inner {
  height: 100%;
  @media (max-width: 640px) {
      height: 100%;
      width: 100%;
    }
}

.book-inner h4 {
  font-family: "Forum", serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 23px;
  margin-bottom: 8px; 
}

.book_line-color {
  width: 60px;
  height: 1px;
  text-align: left;  
  background-color: #BB945F;
  border: none;
}

.book-title {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;

}

.book-name {
  margin-top: 30px;
  margin-bottom: 21px;
}

.book-author {    
  margin-bottom: 31px; 
}

.b-fl {
  display: flex;
  height: 100%;
}

.book_text {
  color: #000;
  font-family: "Inter", sans-serif;
  width: 355px; /*width: 71%;*/
  font-size: 15px;  
  font-weight: 400;
  line-height: 40px;  
  letter-spacing: 2px;
  text-transform: capitalize;
  
  @media (max-width: 640px) {
      width: 98%;
      line-height: 30px;         
    }
}

.book_img {
  position: absolute;
  bottom: -2px;
  right: 0px;
  @media (max-width: 640px) {
      position: initial;
      float: right;      
    }
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  cursor: pointer;
}

.button:hover,
.button_card:hover,
.cards_r-button:hover {
  background-color: #BB945F;
  transition: all .5s;
  border: 1px solid #BB945F;
}

.button-wrapper {
  width: 85px;
  height: 40px;
  padding: 5px 5px 5px 0;
  margin-bottom: 4px;
}

.fav_button {  
  background: #fff;  
}

.fav_button-color {
  margin-bottom: 4px;
  border: 1px solid #BB945F;
  color: #BB945F;
    &:hover {
      cursor: default;
      background: fixed;
      transition: none;
    }    
}


/* Coffee Shop */

.coffee_shop {
  width: 100%;    
}

.coffee_shop_container {
  background: #FFF;
  padding: 26px 20px 30px;
}

.line-color {
  width: 100px;
  height: 1px;
  background-color: #BB945F;
  border: none;
}

.coffee-text {
  font-family: "Inter", sans-serif;
  text-align: center;
  line-height: 40px;  
  letter-spacing: 2px;
  font-size: 20px;
  padding-bottom: 40px;  
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  @media (min-width: 320px) and (max-width:1024px) {
    gap: 40px;    
  }
}

.menu_heading {
  color: #BB945F;
  font-family: "Forum", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.menu-h-c {
  margin-left: 0;
  margin-bottom: 0;  
}

.menu-h-d {
  margin-right: 0;
  margin-bottom: 0;  
}

.menu_item {
  display: flex;  
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.menu_item-name {
  width: 200px;  
}

.menu_item-name-d {
  width: 212px;
}

.coffee_tea {
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;  
  width: 438px;
  height: 520px;   
}

.desserts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  text-align: end;
  width: 459px;
  height: 520px;
  margin-right: 1px;
  
  @media (min-width: 320px) and (max-width:1024px) {
    margin-left: auto;

  }
}

.menu_item-price {
  color: #000;
  font-family: Forum;
  line-height: 40px;  
  letter-spacing: 2px;
  margin-right: -1.5px;
  text-transform: capitalize;
}


/* Contacts */

.our_contacts_container {
  width: 100%;    
  background: #FFF;
  padding-top: 30px;
  padding-bottom: 40px;
  padding: 0 auto;
  
  @media (max-width: 768px) {    
    overflow: hidden;
    
  }
}

.contacts_line {
  margin-bottom: 40px;
}

.contacts_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1280px) {
      gap: 80px;
      justify-content: center;
    }

  @media (max-width: 640px) {
    overflow: hidden;
    gap: 10;
    display: block;
  }
}

.contacts_inner {
  min-width: 500px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;   
  letter-spacing: 2px;
  padding: 0 20px;

  @media (max-width: 768px) {
      margin-right: auto;
      min-width: 90%;
    }
}

.contacts_inner h3 {
  font-size: 20px;
  margin-bottom: 40px;
}

.contacts_inner a {
  color: #000;
}

.contacts_staff {
  margin-top: 40px;
}

.cont_map {
  margin-right: 20px;  
}



/* Library Card */

.library-card_container {
  width: 100%;    
  background: #FFF;
  padding-top: 17px;
  padding-bottom: 41px;
  @media (max-width: 768px) {
    padding-bottom: 3px;      
    }
}
  
.library-card_container h3 {
  font-size: 30px;
  font-weight: normal;
}

.library-card_container h4 {
  font-size: 20px;
  font-weight: normal;
}

.library-card_inner-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.6px;

  @media  (max-width:1080px) {
      justify-content: center;
      gap: 20px;
      width: 100%;
  }

     @media (max-width: 640px) {
      display: block;
      width: 100%;
      gap: 10px;
     }
}

 @media (max-width: 640px) {
  .find-card {
      width: 300px;
      height: 150px;
  }
  

 }

.library_card_inner h3 {
  text-align: center;
  margin-bottom: 30px;
}

.find-card {
  width: 594px;
  height: 380px;
  flex-shrink: 0;
  border: 3px solid #BB945F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFF;
  margin-top: 28px;
}

.card {  
  font-family: "Forum", serif;
  font-size: 30px;  
  line-height: 50px;
  letter-spacing: 0.6px;
  background-color: #BB945F;
  margin: 20px 20px 17px;
}

.card_input {
  width: 560px;
  height: 262px;
  padding-top: 10px;
}

.card_input p {
  margin: 0;
  padding-top: 8px;
  padding-left: 18px;
}

.card-in {
  border-radius: 10px;
  background: #FFF;
  margin: 20px 20px 22px;
}

.card-in input {
  padding: 3px 190px 5px 13px;
  font-family: "Forum", serif;
  font-size: 30px;
  line-height: 50px;  
  letter-spacing: 0.6px;
  color: #8E8E8E;
  border: none;  
  border-radius: 10px;  
}

.button_card {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  margin: 0 auto;
  padding: 9px 39px;
  transition: .5s;
  cursor: pointer;  
}

.cards_reader {
  min-width: 456px;
  text-align: end;

  @media (max-width: 1081px) {    
      text-align: center;
      width: 600px;
    }

  }

  @media (max-width: 640px) {
    .cards_reader {
      display: block;
      text-align: center;
      min-width: 0px;
      width: 360px;      
      margin: 15px auto 0;
    }

    .find-card {
      width: 98%;  
    }

    .card_input {
      width: 100%;    
    }

    .card-in input {
      padding: 0;
      width: 100%;
    }
    
    .card-in label {
      padding: 2% 5%;      
    }   
  }

.cards_reader h3 {
  color: #000;
  font-family: "Forum", serif;
  font-size: 30px;
  letter-spacing: 0.6px;
  margin-bottom: 36px;
  @media (max-width: 768px) {
      margin-bottom: 40px;
    }
}

.cards_reader div {
  font-family: "Inter", sans-serif;
  max-width: 456px;
  font-size: 20px;
  line-height: 40px;  
  letter-spacing: 0.4px;
  margin-bottom: 35px;

  @media (max-width: 1084px) {
      max-width: none;
      text-align: center;
    }
}

.cards_r-button {
  font-family: "Inter", sans-serif;
  font-size: 10px; 
  font-weight: 700; 
  letter-spacing: 1px;
  color: #0C0C0E;
  background-color: #FFF;  
  width: 75px;
  height: 30px;  
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  margin-left: 13px;
  cursor: pointer;
}



/* Footer  */

footer {
  width: 100%; /* 1440px */
  height: 250px;
  background: #0C0C0E; 
  color: #FFF;
}

.footer_container {
  padding: 5px 20px 0;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.inner-nav {
  width: 229px;
  flex-shrink: 0;  
  font-family: "Inter", sans-serif;
  font-size: 15px;  
  line-height: 20px;  
}

.footer_nav {
  display: flex;
  justify-content: flex-start;
  padding: 3px 0;
}

.footer_map {
  text-decoration: none;
  color: #FFF;
}

.footer_nav li {
  margin-right: 15px;
}

.inner-time {  
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 20px;  
 
}

.inner-time {
  margin-bottom: -5px;
}

.footer_info {  
  display: flex;
  justify-content: space-between;    
  font-family: "Inter", sans-serif;
  font-size: 20px;  
  line-height: 20px;
  letter-spacing: 2px;
  margin-top: 25px;

    @media (max-width: 640px) {
      align-items: center;
    }
}

.footer_info p{
  margin: 0;

}


